.recommended-friends {
  margin: 25px 0px;
  border-top: var(--main-border);
  padding: 25px 0px;
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--gray);
}
.recommended-friends span {
  margin: 100px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--gray);
}
.icon-cog {
  position: relative;
}
.nav_Notification-cog {
  display: block;
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  right: -6px;
  top: -6px;
  background-color: tomato;
  margin: 0px;
}

.open-chat_header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}
.open-chat_header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.open-post_title {
  font-weight: 600;
  margin-bottom: 7px;
}
.open-post_hashtars {
  text-transform: uppercase;
  opacity: 0.6;
}
.open-post_members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}
.open-post_members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 6px;
}
.open-post_member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post_members .divider {
  width: 2px;
  height: 15px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
.open-post_member-status {
  color: #ffb0e0;
}
.open-post_photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post_photo {
  position: relative;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
.open-post__heart-count span {
  margin-left: 3px;
}
.open-post1,
.open-post2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.open-post1 {
  border-bottom: solid 0.5px rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
}
.open-post2 {
  padding-top: 20px;
}
