#friends-display-link {
  text-align: center;
  display: block;
  background: #fafafa;
  padding: 15px 0px;
  color: #464646;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -15px;
}
#friends-display-link i {
  color: #d5d5d5;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen_channel {
  margin-top: 25px;
  border-top: var(--main-border);

  padding-top: 15px;
}
.friends-screen_channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: #fae100;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 128px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}
