.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header_title {
  font-size: 28px;
  font-weight: 600;
}
.alt-header_column:first-child {
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}
.alt-header_column:nth-child(2) {
  text-align: center;
}
.alt-header_column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-header_column span:last-child {
  margin-left: 20px;
}
.alt-header_column {
  width: 33%;
}
